.input {
    background-color: #fff;
    text-align: center;
    width: 17rem;
    height: 1.8rem;
    padding-inline: 16px;

    &:hover,
    &:focus {
        outline: 2px dashed #fff;
        background-color: #a5e1ec;
        transition: outline, background-color 0.5s ease;
    }
}